{% extends "menuserve/header.html" %}
{% block title %}Edit Manager{% endblock %}
{% block content %}
<form method="POST"> {% csrf_token %}
    <div class="container">
        <br>
        {% for mng in managers %}
        {{ mng }}
        <a href="{% url 'manageredit' id=mng.id %}"><button class="waves-effect waves-light btn"
                type="button">Edit</button></a>
        <a href="{% url 'managerdelete' id=mng.id %}"><button class="waves-effect waves-light btn"
                type="button">X</button></a><br>
        {% endfor %}<br>
        <div class="form-inherit">
            User: {{ user }}<br>
            <!-- <select>
                {% for loc in form.location %}
                <option value={{loc}}">{{loc}}</option>
                {% endfor %}
            </select> -->
            {{form.location}}
        </div>
        <div class="row center">
            <input class="btn-large waves-effect waves-light orange" type="submit" value="save" />
        </div>
    </div>
</form>
{% endblock %}